@{
    ViewBag.Title = "StartPage";
}
<style>
h1 {
  text-align: center;
  color: #4D94FF;
  font-weight: 300;
  margin: 0 0 40px;
}
</style>
<!DOCTYPE html>
<html >
  <head>
    <meta charset="UTF-8">
    <title>Welcome</title>
    
  </head>     
    <body> 
        <div> <h1 >Welcome on twitter!</h1></div>
  <div align="center"><img src="http://college.wfu.edu/history/wp-content/uploads/2011/03/twitter-follow-logo.png" /></div>
    </body>
    <script src="~/Content/js/StartPage.js"></script> 
</html>
